* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding-top: 130px;
}

main {
    max-width: 1080px;
    margin: auto;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgb(255 255 255 / 15%)), url(heaven.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    transition: height 0.5s ease, padding 0.5s ease, background 0.5s ease; /* Transição mais suave */
    height: 120px; /* Altura inicial do header */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Sombras para dar destaque ao header */
}

.header.shrink {
    height: 90px;
    z-index: 1000; /* Altura mínima ajustada com base no conteúdo */
}

.header img {
    height: 80px; /* Tamanho inicial da imagem */
    width: 80px;
    border-radius: 50%;
    transition: height 0.5s ease, width 0.5s ease; /* Transição suave para a imagem */
}

.header.shrink img {
    height: 60px; /* Ajuste proporcional para o header menor */
    width: 60px;
}

.header p {
    font-size: 16px; /* Tamanho inicial da descrição */
    transition: font-size 0.5s ease; /* Transição suave para a descrição */
}

.header.shrink p {
    font-size: 14px; /* Ajuste do tamanho da descrição para o header menor */
}

.conteudo-header {
    text-align: center;
    margin: 0 auto;
    color: white;
    padding: 20px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1080px;
}

.header .left,
.header .center,
.header .right {
    display: flex;
    align-items: center;
}

.header .center {
    flex: 1; /* Garante que o conteúdo do centro ocupe o espaço restante */
    justify-content: center; /* Centraliza horizontalmente */
}

.header .right {
    gap: 15px; /* Espaçamento entre os itens da direita */
}

.header img {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    margin-right: 10px;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: inherit;
}

ul {
    list-style: none;
}

.foto{
    align-self: center;
    margin: 0 auto;
}

.foto img{
    width: 350px;
    border-radius: 15px;
}

.section {
    margin: 40px 0;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-family: Arial, sans-serif;
    font-size: 28px !important;
    font-weight: 700 !important;
}

h2 {
    font-family: Arial, sans-serif;
    font-size: 22px !important;
    font-weight: 500 !important;
    padding-bottom: 15px;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card h3 {
    font-size: 1.5em;
    margin-bottom: 15px;
}

.card p {
    font-size: 1em;
    color: #666;
}

.skills-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.skill-card {
    background: #f8f9fa;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    text-align: -webkit-center;
    transition: transform 0.3s ease;
}

.skill-card img {
    width: 30px;
    height: 30px;
}

.skill-card:hover {
    transform: scale(1.1);
}

.experience h3 {
    font-size: 1.5em;
    margin: 10px 0;
}

.contact-list li {
    margin: 10px 0;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

/* MEDIA QUERIES */

@media (max-width: 768px) {

    .navbar.sidebar {
        display: none;
        position: fixed;
        top: 104px;
        left: -100%;
        width: 100%;
        height: 45%;
        background-color: #343a40;
        z-index: 0;
        transition: left 0.3s ease;
        padding-top: 0px;
    }

    .navbar.sidebar.active {
        display: block;
        left: 0;
    }

    .navbar.sidebar ul li a {
        padding: 15px 20px;
    }

    .hamburger {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 1.5em;
        color: white;
    }

    .profile-picture {
        top: 55%;
        right: 20%;
        transform: translateX(50%);
        width: 150px;
        height: 150px;
    }

    .section {
        padding: 15px;
    }

    .projects-grid {
        grid-template-columns: 1fr;
    }

    .skills-grid {
        flex-direction: column;
        align-items: center;
    }

    .footer {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .header h1 {
        font-size: 1.5em;
        text-align: left;
    }

    .header p {
        font-size: 1.1em;
        text-align: left;
    }

    .profile-picture {
        width: 100px;
        height: 100px;
    }

    .navbar ul {
        flex-direction: column;
        margin-top: 20px;
    }

    .navbar ul li {
        margin: 10px 0;
    }
}
